/*/*
/*styles for each of the following elements
body
header, nav and footer
section
aside
article
.clear
your text elements: h1, p, etc.

The colors in final layout should be:
background:  #777
content:  #ebebeb
Widths of each section:
	body: 960px
	section: 495px*/

body {
	background-color: #777;
	font-family: arial, "arial";
	font-size: 12px;
	margin: 0 auto;
	padding: 0;

}

.container {
	width: 100%; 
	height: 100%; 
	background: #777;
	border: solid 10px #ebebeb;
	
}



header {
	background: #ebebeb;
	margin: 5px 40px 3px 40px;
	padding: 20px;
	text-align: center;

}

nav {
	background: #ebebeb;
	margin: 10px 40px 6px 40px;
	padding: 20px;
	text-align: center;
	position: fixed;
}

section {
	background: #ebebeb;
	margin: 10px 40px 10px 40px;
	padding-bottom: 5%;
	padding-top: 2.5%;
	width: 40%;

	text-align: center;
	float: left;
}

aside {
	background: #ebebeb;
	margin: 10px 40px 10px 40px;
	padding: 5%;
	width: 20%;
	text-align: center;
	float: right;
}

footer {
	background: #ebebeb;
	margin: 10px 40px 10px 40px;
	text-align: center;
	clear:both;
	float: center
}

#bottom {
	background: #ebebeb;
	margin: 5px 0px 0px 0px;
	text-align: center;
}




*/*/