
/*styles for each of the following elements
body
header, nav and footer
section
aside
article
.clear
your text elements: h1, p, etc.

The colors in final layout should be:
background:  #777
content:  #ebebeb
Widths of each section:
	body: 960px
	section: 495px*/

